<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">


<head>
    <% include ./partials/head %>
</head>

<body class="container">

	<header>
		<% include ./partials/header %>
	</header>

	<main>
		
		<div class="container">
			<h1 class="display-3">Entry Points</h1>
		</div>
		


        <h2>Users</h2>
		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			  <div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">/user/new</h5>
				<small>3 days ago</small>
			  </div>
			  <p class="mb-1">Register a user with the system.</p>
			  <small>@param	email	- email of the user</small> </br>
			  <small>@param	pwd		- password of the user</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
				  <h5 class="mb-1">/user/login</h5>
				  <small>01.02.2019</small>
				</div>
				<p class="mb-1">Register a user with the system.</p>
				<small>@param	email	- email of the user</small> </br>
				<small>@param	pwd		- password of the user</small>
			</a>
		</div>
		<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      
	</main>


<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>